img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10cm;
    height: auto;

}

.title, .description, .info{
    text-align: center;
}

.description{
    line-height: 2.5mm;
}

.list{
    font-size: large;
       
}

.next-button{
    text-align:right;
}

.bottom-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





